In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
# import winery csv

file = 'resources\Winery.csv'

In [18]:
# check to see if winery imported correctly 

winery_df = pd.read_csv(file,)

winery_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [19]:
# delete columns that aren't neccessary to display

del winery_df['taster_name'] 
del winery_df['taster_twitter_handle']
del winery_df['points']
del winery_df['price']
del winery_df['variety']
del winery_df['description']

winery_df.head()

,country,designation,province,region_1,region_2,title,winery
0,Italy,Vulkà Bianco,Sicily & Sardinia,Etna,NaN,Nicosia 2013 Vulkà Bianco (Etna),Nicosia
1,Portugal,Avidagos,Douro,NaN,NaN,Quinta dos Avidagos 2011 Avidagos Red (Douro),Quinta dos Avidagos
2,US,NaN,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm
3,US,Reserve Late Harvest,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian
4,US,Vintner's Reserve Wild Child Block,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks

In [20]:
# show only wineries from the US 

winery_df = winery_df.loc[winery_df['country'] == 'US']

winery_df.head()

,country,designation,province,region_1,region_2,title,winery
2,US,NaN,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm
3,US,Reserve Late Harvest,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian
4,US,Vintner's Reserve Wild Child Block,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks
10,US,Mountain Cuvée,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Kirkland Signature
12,US,NaN,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Louis M. Martini

In [21]:
winery_df['country'].value_counts()

US    54504
Name: country, dtype: int64

In [22]:
# rename province column

winery_df.rename(columns={'province': 'state'}, inplace=True)

winery_df.head(10)

,country,designation,state,region_1,region_2,title,winery
2,US,NaN,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm
3,US,Reserve Late Harvest,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian
4,US,Vintner's Reserve Wild Child Block,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks
10,US,Mountain Cuvée,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Kirkland Signature
12,US,NaN,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Louis M. Martini
14,US,NaN,California,Central Coast,Central Coast,Mirassou 2012 Chardonnay (Central Coast),Mirassou
19,US,NaN,Virginia,Virginia,NaN,Quiévremont 2012 Meritage (Virginia),Quiévremont
20,US,Vin de Maison,Virginia,Virginia,NaN,Quiévremont 2012 Vin de Maison Red (Virginia),Quiévremont
21,US,NaN,Oregon,Oregon,Oregon Other,Acrobat 2013 Pinot Noir (Oregon),Acrobat
23,US,Signature Selection,California,Paso Robles,Central Coast,Bianchi 2011 Signature Selection Merlot (Paso ...,Bianchi

In [23]:
# delete country column since we have a stat column 

del winery_df['country']

winery_df.head()

,designation,state,region_1,region_2,title,winery
2,NaN,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm
3,Reserve Late Harvest,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian
4,Vintner's Reserve Wild Child Block,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks
10,Mountain Cuvée,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Kirkland Signature
12,NaN,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Louis M. Martini

In [24]:
# reorder columns to show title first

columns_names = ["title", "state", "region_1", "region_2", "winery", "designation"]
winery_df_clean = winery_df.reindex(columns = columns_names)

winery_df_clean.head()

,title,state,region_1,region_2,winery,designation
2,Rainstorm 2013 Pinot Gris (Willamette Valley),Oregon,Willamette Valley,Willamette Valley,Rainstorm,NaN
3,St. Julian 2013 Reserve Late Harvest Riesling ...,Michigan,Lake Michigan Shore,NaN,St. Julian,Reserve Late Harvest
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks,Vintner's Reserve Wild Child Block
10,Kirkland Signature 2011 Mountain Cuvée Caberne...,California,Napa Valley,Napa,Kirkland Signature,Mountain Cuvée
12,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,California,Alexander Valley,Sonoma,Louis M. Martini,NaN

In [25]:
# check number of blank values in columns region 1, region 2, and designation

winery_df_clean['region_1'].isnull().sum()
winery_df_clean['region_2'].isnull().sum()
winery_df_clean['designation'].isnull().sum()

17596

In [26]:
# delete rows with NaN (blank values)

winery_df_cleanup = winery_df_clean.dropna(subset = ['region_1'])
winery_df_cleanup2 = winery_df_cleanup.dropna(subset = ['region_2'])
winery_df_cleanup3 = winery_df_cleanup2.dropna(subset = ['designation'])

winery_df_cleanup3.head(10)

,title,state,region_1,region_2,winery,designation
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks,Vintner's Reserve Wild Child Block
10,Kirkland Signature 2011 Mountain Cuvée Caberne...,California,Napa Valley,Napa,Kirkland Signature,Mountain Cuvée
23,Bianchi 2011 Signature Selection Merlot (Paso ...,California,Paso Robles,Central Coast,Bianchi,Signature Selection
25,Castello di Amorosa 2011 King Ridge Vineyard P...,California,Sonoma Coast,Sonoma,Castello di Amorosa,King Ridge Vineyard
33,Envolve 2010 Puma Springs Vineyard Red (Dry Cr...,California,Dry Creek Valley,Sonoma,Envolve,Puma Springs Vineyard
35,Erath 2010 Hyland Pinot Noir (McMinnville),Oregon,McMinnville,Willamette Valley,Erath,Hyland
55,RustRidge 2010 Estate Bottled Chardonnay (Napa...,California,Napa Valley,Napa,RustRidge,Estate Bottled
60,Okapi 2013 Estate Cabernet Sauvignon (Napa Val...,California,Napa Valley,Napa,Okapi,Estate
62,Ram 2014 Alder Ridge Vineyard Cabernet Franc (...,Washington,Columbia Valley (WA),Columbia Valley,Ram,Alder Ridge Vineyard
64,Sevtap 2015 Golden Horn Sauvignon Blanc (Santa...,California,Santa Ynez Valley,Central Coast,Sevtap,Golden Horn

In [27]:
#organize states by alphabetical order

final_winery = winery_df_cleanup3.sort_values(by='state',ascending = True)

final_winery.head(5).append(final_winery.tail(5))

,title,state,region_1,region_2,winery,designation
65757,Talley 2012 Rincon Vineyard Chardonnay (Arroyo...,California,Arroyo Grande Valley,Central Coast,Talley,Rincon Vineyard
78854,Cloak & Dagger 2012 Illuminatus Hidden Valley ...,California,Paso Robles,Central Coast,Cloak & Dagger,Illuminatus Hidden Valley Vineyard Reserve
78848,Fess Parker 2013 Parker West Pinot Noir (Sta. ...,California,Sta. Rita Hills,Central Coast,Fess Parker,Parker West
78846,Dutton-Goldfield 2013 Fox Den Vineyard Pinot N...,California,Green Valley,Sonoma,Dutton-Goldfield,Fox Den Vineyard
78845,Dutton-Goldfield 2013 Dutton Ranch Rued Vineya...,California,Green Valley,Sonoma,Dutton-Goldfield,Dutton Ranch Rued Vineyard
12289,Dumas Station 2006 Minnick Hills Reserve Caber...,Washington,Walla Walla Valley (WA),Columbia Valley,Dumas Station,Minnick Hills Reserve
40594,Barrister 2011 Kiona Estate Sangiovese (Red Mo...,Washington,Red Mountain,Columbia Valley,Barrister,Kiona Estate
40596,Buty 2012 62% Sémillon-21% Sauvignon-17% Musca...,Washington,Columbia Valley (WA),Columbia Valley,Buty,62% Sémillon-21% Sauvignon-17% Muscadelle
92221,Chateau Ste. Michelle 2011 Cold Creek Vineyard...,Washington,Columbia Valley (WA),Columbia Valley,Chateau Ste. Michelle,Cold Creek Vineyard
65141,Zero One Vintners 2011 Copper Lily Sauvignon B...,Washington,Columbia Valley (WA),Columbia Valley,Zero One Vintners,Copper Lily

In [28]:
final_winery.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34232 entries, 65757 to 65141
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        34232 non-null  object
 1   state        34232 non-null  object
 2   region_1     34232 non-null  object
 3   region_2     34232 non-null  object
 4   winery       34232 non-null  object
 5   designation  34232 non-null  object
dtypes: object(6)
memory usage: 1.8+ MB

In [33]:
rds_connection_string = "postgres:Eugene0503!@craft-beer-wineries-in-us.co8uygh38uuh.us-east-2.rds.amazonaws.com:5432/craftbeer-winery"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [36]:
final_winery.to_sql("wineries", engine, if_exists = 'append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "title" of relation "wineries" does not exist
LINE 1: INSERT INTO wineries (title, state, region_1, region_2, wine...
                              ^

[SQL: INSERT INTO wineries (title, state, region_1, region_2, winery, designation) VALUES (%(title)s, %(state)s, %(region_1)s, %(region_2)s, %(winery)s, %(designation)s)]
[parameters: ({'title': 'Talley 2012 Rincon Vineyard Chardonnay (Arroyo Grande Valley)', 'state': 'California', 'region_1': 'Arroyo Grande Valley', 'region_2': 'Central Coast', 'winery': 'Talley', 'designation': 'Rincon Vineyard'}, {'title': 'Cloak & Dagger 2012 Illuminatus Hidden Valley Vineyard Reserve Sangiovese (Paso Robles)', 'state': 'California', 'region_1': 'Paso Robles', 'region_2': 'Central Coast', 'winery': 'Cloak & Dagger', 'designation': 'Illuminatus Hidden Valley Vineyard Reserve'}, {'title': 'Fess Parker 2013 Parker West Pinot Noir (Sta. Rita Hills)', 'state': 'California', 'region_1': 'Sta. Rita Hills', 'region_2': 'Central Coast', 'winery': 'Fess Parker', 'designation': 'Parker West'}, {'title': 'Dutton-Goldfield 2013 Fox Den Vineyard Pinot Noir (Green Valley)', 'state': 'California', 'region_1': 'Green Valley', 'region_2': 'Sonoma', 'winery': 'Dutton-Goldfield', 'designation': 'Fox Den Vineyard'}, {'title': 'Dutton-Goldfield 2013 Dutton Ranch Rued Vineyard Chardonnay (Green Valley)', 'state': 'California', 'region_1': 'Green Valley', 'region_2': 'Sonoma', 'winery': 'Dutton-Goldfield', 'designation': 'Dutton Ranch Rued Vineyard'}, {'title': 'Williams Selyem 2013 Hirsch Vineyard Pinot Noir (Sonoma Coast)', 'state': 'California', 'region_1': 'Sonoma Coast', 'region_2': 'Sonoma', 'winery': 'Williams Selyem', 'designation': 'Hirsch Vineyard'}, {'title': 'Williams Selyem 2013 Allen Vineyard Chardonnay (Russian River Valley)', 'state': 'California', 'region_1': 'Russian River Valley', 'region_2': 'Sonoma', 'winery': 'Williams Selyem', 'designation': 'Allen Vineyard'}, {'title': 'Small and Tall 2012 Little Joy Pinot Noir (Santa Maria Valley)', 'state': 'California', 'region_1': 'Santa Maria Valley', 'region_2': 'Central Coast', 'winery': 'Small and Tall', 'designation': 'Little Joy'}  ... displaying 10 of 34232 total bound parameter sets ...  {'title': 'Chateau Ste. Michelle 2011 Cold Creek Vineyard Merlot (Columbia Valley (WA))', 'state': 'Washington', 'region_1': 'Columbia Valley (WA)', 'region_2': 'Columbia Valley', 'winery': 'Chateau Ste. Michelle', 'designation': 'Cold Creek Vineyard'}, {'title': 'Zero One Vintners 2011 Copper Lily Sauvignon Blanc (Columbia Valley (WA))', 'state': 'Washington', 'region_1': 'Columbia Valley (WA)', 'region_2': 'Columbia Valley', 'winery': 'Zero One Vintners', 'designation': 'Copper Lily'})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [38]:
wineries_df = final_winery[['winery', 'state', 'region_1', 'region_2']]

In [40]:
wineries_df.drop_duplicates(subset=["winery"], keep='first', inplace=True)

<ipython-input-40-3a2b8ffaf743>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wineries_df.drop_duplicates(subset=["winery"], keep='first', inplace=True)

In [42]:
wineries_df.rename(columns = {'state': 'state_us'}, inplace=True)

C:\Users\ramr3_000\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [51]:
wineries_df.to_sql("wineries", engine, if_exists = 'append', index=False, chunksize = 1000)

In [49]:
wineries_df

                 winery    state_us                 region_1         region_2
65757            Talley  California     Arroyo Grande Valley    Central Coast
78854    Cloak & Dagger  California              Paso Robles    Central Coast
78848       Fess Parker  California          Sta. Rita Hills    Central Coast
78846  Dutton-Goldfield  California             Green Valley           Sonoma
78840   Williams Selyem  California             Sonoma Coast           Sonoma
...                 ...         ...                      ...              ...
26627       Mullan Road  Washington     Columbia Valley (WA)  Columbia Valley
47463             Dance  Washington       Horse Heaven Hills  Columbia Valley
92838         428 Wines  Washington     Columbia Valley (WA)  Columbia Valley
12667     Mansion Creek  Washington  Walla Walla Valley (WA)  Columbia Valley
91869             Gecko  Washington            Wahluke Slope  Columbia Valley

[3709 rows x 4 columns]

In [47]:
wines_df = final_winery[['winery', 'title', 'designation']]

In [52]:
wines_df.to_sql("wines", engine, if_exists = 'append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "wines_pkey"
DETAIL:  Key (title)=(Sbragia 2013 Andolsen Vineyard Cabernet Sauvignon (Dry Creek Valley)) already exists.

[SQL: INSERT INTO wines (winery, title, designation) VALUES (%(winery)s, %(title)s, %(designation)s)]
[parameters: ({'winery': 'Talley', 'title': 'Talley 2012 Rincon Vineyard Chardonnay (Arroyo Grande Valley)', 'designation': 'Rincon Vineyard'}, {'winery': 'Cloak & Dagger', 'title': 'Cloak & Dagger 2012 Illuminatus Hidden Valley Vineyard Reserve Sangiovese (Paso Robles)', 'designation': 'Illuminatus Hidden Valley Vineyard Reserve'}, {'winery': 'Fess Parker', 'title': 'Fess Parker 2013 Parker West Pinot Noir (Sta. Rita Hills)', 'designation': 'Parker West'}, {'winery': 'Dutton-Goldfield', 'title': 'Dutton-Goldfield 2013 Fox Den Vineyard Pinot Noir (Green Valley)', 'designation': 'Fox Den Vineyard'}, {'winery': 'Dutton-Goldfield', 'title': 'Dutton-Goldfield 2013 Dutton Ranch Rued Vineyard Chardonnay (Green Valley)', 'designation': 'Dutton Ranch Rued Vineyard'}, {'winery': 'Williams Selyem', 'title': 'Williams Selyem 2013 Hirsch Vineyard Pinot Noir (Sonoma Coast)', 'designation': 'Hirsch Vineyard'}, {'winery': 'Williams Selyem', 'title': 'Williams Selyem 2013 Allen Vineyard Chardonnay (Russian River Valley)', 'designation': 'Allen Vineyard'}, {'winery': 'Small and Tall', 'title': 'Small and Tall 2012 Little Joy Pinot Noir (Santa Maria Valley)', 'designation': 'Little Joy'}  ... displaying 10 of 34232 total bound parameter sets ...  {'winery': 'Chateau Ste. Michelle', 'title': 'Chateau Ste. Michelle 2011 Cold Creek Vineyard Merlot (Columbia Valley (WA))', 'designation': 'Cold Creek Vineyard'}, {'winery': 'Zero One Vintners', 'title': 'Zero One Vintners 2011 Copper Lily Sauvignon Blanc (Columbia Valley (WA))', 'designation': 'Copper Lily'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)